<!-- LOGIN  STARTED -->
<div class="modal fade" id="LoginModalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter client user credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="LoginFormPopUpId" class="" onsubmit="return false" novalidate="">
                    <div class="mb-3 form-floating is-valid">
                        <input type="text" class="form-control" id="KUserNameInput" required="">
                        <label for="KUserNameInput">User Name</label>
                        <div class="invalid-feedback">
                            User Name cannot be empty.
                        </div>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="password" class="form-control" id="KPasswordInput" required="">
                        <label for="KPasswordInput">Password</label>
                        <div class="invalid-feedback">
                            Password cannot be empty.
                        </div>
                    </div>
                    <input id="LoginModalButtonId" type="submit" class=" btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- LOGIN FINISHED -->

<footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container">
        <div class="bg-light d-flex justify-content-between">
            <div>KeshavSoft v4.17</div>

            <div data-BaseString="Last refresh : " id="KLastRefreshDT">Last refresh : </div>
        </div>
    </div>
</footer>